<!--The content below is only a placeholder and can be replaced.-->
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script src="includes/js/modernizr-2.6.2.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <meta charset="utf-8">
  <meta name="keywords" contents="tech trends,technology,information,internet,computer,system,research,storage">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Information technology in India is an industry consisting of two major components: IT services and business process outsourcing (BPO).">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js">
  <link href="https://fonts.googleapis.com/css?family=Ovo%7CSigmar+One" rel="stylesheet">
</head>
<body>
  <app-header></app-header>
  <!-- <app-search></app-search> -->
  <!-- <app-movie-list></app-movie-list> -->
  <router-outlet></router-outlet>
  <!-- <app-movie-list></app-movie-list> -->
  <app-footer></app-footer>
  
</body>
