<!-- <p>
  omdb-search works!
</p> -->
<div>
  <input [(ngModel)]="title" placeholder="batman" class="form-control" width=80px height=60px />
  <button (click)="searchMovie(title)" class="btn btn-outline-success my-2 my-sm-0">Search</button>
  <!-- <button (click)="searchMovie(title)" class="btn btn-primary btn-block">Search</button> -->

  <ul class="list-group">
    <li *ngFor="let movies of result.Search" style="width: 250px ; height: 500px">
      {{movies.Title}}
      <img class="card-img-top img-fluid" src="{{ movies.Poster }}" width=80px height=60px>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Add Movie</a>
      </div>
    </li>
  </ul>
</div>

<!-- http://localhost:8090/api/v1/movieservice/movies -->